<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div
    [ngClass]="{
      'justify-content-between': width <= 1478,
      'justify-content-end': width > 1478
    }"
    class="d-flex w-100"
  >
    <img
      *ngIf="width <= 1478"
      class="logo"
      src="assets/images/logo_orange.png"
      alt="logo"
    />
    <div class="d-flex">
      <div
        *ngIf="width <= 1478"
        class="h-100 mr-2 sidebar-opener d-flex align-items-center"
        (click)="clickOpenNav()"
      >
        <i class="fa-solid fa-bars"></i>
      </div>
      <div class="user-profile">
        <img [src]="imageSrc" alt="user image" />
      </div>
    </div>
  </div>
</nav>
