.weather {
  font-family: poppins;
  .denied {
    background-color: rgba(0, 0, 0, 0.548);
    color: white;
  }

  .temperature {
    font-size: 30px;
    color: gray;
  }
  .loading {
    font-size: 35px;
    color: #0275d8;
  }
  svg {
    image {
      filter: invert(0.4) sepia(1) saturate(6) hue-rotate(175deg);
    }
  }
}


